$Dark-Blue: hsl(235, 21%, 11%);
$Dark-Desaturated-Blue: hsl(235, 24%, 19%);
$Light-Grayish-Blue: hsl(234, 39%, 85%);
$hover-blue: hsl(236, 33%, 92%);
$Dark-Grayish-Blue: hsl(234, 11%, 52%);
$Very-Dark-Grayish-Blue: hsl(233, 14%, 35%);
$Very-Dark-Grayish-Blue2: hsl(237, 14%, 26%);

$Bright-Blue: hsl(220, 98%, 61%);