@charset "UTF-8";
body {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 18px;
  background-color: #161722;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.backImage {
  background-image: url(/images/bg-desktop-dark.jpg);
  width: 100%;
  height: 300px;
  position: absolute;
  z-index: -1;
  background-size: cover;
}

.moonLight {
  background-image: url(/images/icon-sun.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

header {
  color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 80px 0 20px 0;
}

header h1 {
  letter-spacing: 1rem;
}

.container {
  max-width: 600px;
}

.newTodo {
  background-color: #393a4c;
  height: 60px;
  width: 100%;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.newTodo .state {
  background-color: #484b6a;
  width: 28px;
  height: 28px;
  border-radius: 100px;
  margin: 20px;
}

.newTodo div.state:before {
  background-color: #393a4c;
  content: '';
  width: 24px;
  height: 24px;
  border-radius: 100px;
  position: absolute;
  -webkit-transform: translate(2px, 2px);
          transform: translate(2px, 2px);
}

.newTodo input {
  background: none;
  color: #d2d3db;
  border: none;
  width: 80%;
  caret-color: #3a7bfd;
}

.newTodo input::-webkit-input-placeholder {
  color: #9394a5;
}

.newTodo input:-ms-input-placeholder {
  color: #9394a5;
}

.newTodo input::-ms-input-placeholder {
  color: #9394a5;
}

.newTodo input::placeholder {
  color: #9394a5;
}

.newTodo input:focus {
  outline: none;
}

.liste {
  margin-top: 30px;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.63);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.63);
  border-radius: 5px;
  overflow: hidden;
}

.liste .todo {
  border-radius: 0;
  border-bottom: 1px solid #484b6a;
}

.liste .todo .todoText {
  color: #d2d3db;
}

.liste .todo button {
  border: 2px solid #484b6a;
  background: none;
  position: relative;
}

.liste .todo button:before {
  position: absolute;
  top: -1px;
  bottom: -1px;
  left: -1px;
  right: -1px;
  content: '';
  border-radius: 100px;
}

.liste .todo button:hover:before {
  background: linear-gradient(130deg, #57ddff, #c058f3);
}

.liste .todo button:after {
  position: absolute;
  top: 1px;
  bottom: 1px;
  left: 1px;
  right: 1px;
  content: '';
  border-radius: 100px;
  background-color: #393a4c;
}

.liste .todo .complited {
  background: linear-gradient(130deg, #57ddff, #c058f3);
}

.liste .todo .complited::after {
  position: absolute;
  top: 3px;
  bottom: 2px;
  left: 3px;
  right: 2px;
  background-image: url(/images/icon-check.svg);
  content: '';
  z-index: 2;
  border-radius: 100px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(0, 206, 209, 0) !important;
}

nav {
  background-color: #393a4c;
  height: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
  color: #9394a5;
}

nav button {
  background: none;
  border: none;
  color: #9394a5;
}

nav button:hover {
  color: #d2d3db;
}

nav button:focus {
  color: #3a7bfd;
}

footer {
  color: #484b6a;
  margin: 50px;
}

.todo {
  display: none;
}

.show {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.del {
  display: none;
}

.suppr {
  background-image: url(/images/icon-cross.svg);
  width: 50px;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  margin-left: auto;
  cursor: pointer;
  display: none;
}

.todo:hover .suppr {
  display: block;
}

.lightBody {
  background-color: #fafafa;
}

.lightBody .backImage {
  background-image: url(/images/bg-desktop-light.jpg);
}

.lightBody .moonLight {
  background-image: url(/images/icon-moon.svg);
}

.lightBody .newTodo {
  background-color: white;
}

.lightBody .newTodo input {
  color: #484b6a;
}

.lightBody .newTodo div.state {
  background-color: #e4e5f1;
}

.lightBody .newTodo div.state::before {
  background-color: white;
}

.lightBody .liste .todo {
  border-bottom: 1px solid #e4e5f1;
}

.lightBody .liste .todo button {
  border: 2px solid #e4e5f1;
}

.lightBody .liste .todo button:after {
  background-color: white;
}

.lightBody .liste .todo .todoText {
  color: #484b6a;
}

.lightBody nav {
  background-color: white;
}

.lightBody nav button:hover {
  color: #484b6a;
}

@media screen and (max-width: 500px) {
  #clear {
    display: none;
  }
  #items {
    display: none;
  }
  .mobile {
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
  .backImage {
    background-image: url(/images/bg-mobile-dark.jpg);
  }
  .lightBody .backImage {
    background-image: url(/images/bg-mobile-light.jpg);
  }
}

#card:empty {
  display: none;
}

.barré {
  text-decoration: line-through;
  color: #9394a5 !important;
}
/*# sourceMappingURL=style.css.map */