body {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 18px;
  background-color: #161722;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.backImage {
  background-image: url(/images/bg-desktop-dark.jpg);
  width: 100%;
  height: 300px;
  position: absolute;
  z-index: -1;
  background-size: cover;
}

header {
  color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 80px 0 20px 0;
}

header h1 {
  letter-spacing: 1rem;
}

.container {
  max-width: 600px;
}

.newTodo {
  background-color: #393a4c;
  height: 60px;
  width: 100%;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.newTodo .state {
  background-color: #4d5066;
  width: 28px;
  height: 28px;
  border-radius: 100px;
  margin: 20px;
}

.newTodo div.state:before {
  background-color: #393a4c;
  content: '';
  width: 24px;
  height: 24px;
  border-radius: 100px;
  position: absolute;
  -webkit-transform: translate(2px, 2px);
          transform: translate(2px, 2px);
}

.newTodo input {
  background: none;
  color: #cacde8;
  border: none;
  width: 80%;
  caret-color: #3a7bfd;
}

.newTodo input::-webkit-input-placeholder {
  color: #777a92;
}

.newTodo input:-ms-input-placeholder {
  color: #777a92;
}

.newTodo input::-ms-input-placeholder {
  color: #777a92;
}

.newTodo input::placeholder {
  color: #777a92;
}

.newTodo input:focus {
  outline: none;
}

.liste {
  margin-top: 30px;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.63);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.63);
  border-radius: 5px;
  overflow: hidden;
}

.liste .todo {
  border-radius: 0;
  border-bottom: 1px solid #4d5066;
}

.liste .todo .todoText {
  color: #cacde8;
}

.liste .todo button {
  border: 2px solid #4d5066;
  background: none;
  position: relative;
}

.liste .todo button:before {
  position: absolute;
  top: -1px;
  bottom: -1px;
  left: -1px;
  right: -1px;
  content: '';
  border-radius: 100px;
}

.liste .todo button:hover:before {
  background: linear-gradient(130deg, #57ddff, #c058f3);
}

.liste .todo button:after {
  position: absolute;
  top: 1px;
  bottom: 1px;
  left: 1px;
  right: 1px;
  content: '';
  border-radius: 100px;
  background-color: #393a4c;
}

.liste .todo .complited {
  background: linear-gradient(130deg, #57ddff, #c058f3);
}

.liste .todo .complited::after {
  position: absolute;
  top: 3px;
  bottom: 2px;
  left: 3px;
  right: 2px;
  background-image: url(/images/icon-check.svg);
  content: '';
  z-index: 2;
  border-radius: 100px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(0, 206, 209, 0);
}

nav {
  background-color: #393a4c;
  height: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
  color: #777a92;
}

nav button {
  background: none;
  border: none;
  color: #777a92;
}

nav button:hover {
  color: #cacde8;
}

nav button:focus {
  color: #3a7bfd;
}

footer {
  color: #4d5066;
  margin: 50px;
}

.todo {
  display: none;
}

.show {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.del {
  display: none;
}

.suppr {
  background-image: url(/images/icon-cross.svg);
  width: 50px;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  margin-left: auto;
  cursor: pointer;
  display: none;
}

.todo:hover .suppr {
  display: block;
}
/*# sourceMappingURL=style.css.map */