@import "variable";

body {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    background-color: $Dark-Blue;
    box-sizing: border-box;
}

.backImage {
    background-image: url(/images/bg-desktop-dark.jpg);
    width: 100%;
    height: 300px;
    position: absolute;
    z-index: -1;
    background-size: cover;
}

header {
    color: white;
    align-items: center;
    padding: 80px 0 20px 0;
    h1 {
        letter-spacing: 1rem;
    }
}

.container {
    max-width: 600px;
}

.newTodo {
    background-color: $Very-Dark-Grayish-Blue2;
    height: 60px;
    width: 100%;
    border-radius: 5px;
    display: flex;
    align-items: center;
    .state {
        background-color: $Very-Dark-Grayish-Blue;
        width: 28px;
        height: 28px;
        border-radius: 100px;
        margin: 20px;
    }
    div.state:before {
        background-color: $Very-Dark-Grayish-Blue2;
        content: '';
        width: 24px;
        height: 24px;
        border-radius: 100px;
        position: absolute;
        transform: translate(2px,2px);

    }
    input {
        background: none;
        color: $Light-Grayish-Blue;
        border: none;
        width: 80%;
        caret-color: $Bright-Blue;
    }
    input::placeholder {
        color: $Dark-Grayish-Blue;
    }
    input:focus {
        outline: none;
    }
}

.liste {
    margin-top: 30px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.63);
    border-radius: 5px;
    overflow: hidden;
    .todo {
        border-radius: 0;
        border-bottom: 1px solid $Very-Dark-Grayish-Blue;
        .todoText {
            color: $Light-Grayish-Blue;
        }
        button {
            border: none;
            background-color: $Very-Dark-Grayish-Blue;
            position: relative;
        }
        button::after {
            position: absolute;
            top: 3px; bottom: 2px;
            left: 3px; right: 2px;
            background: $Very-Dark-Grayish-Blue2;
            content: '';
            z-index: 2;
            border-radius: 100px; 
        }
        button:hover {
            background: linear-gradient(130deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
        }
        button:focus:after {
            background: linear-gradient(130deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
            background-image: url(/images/icon-check.svg);
            background-repeat: no-repeat;
            background-position: center;
        }
        button:focus {
            background: linear-gradient(130deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
        }
    }
}

nav {
    background-color: $Very-Dark-Grayish-Blue2;
    height: 50px;
    align-items: center;
    padding: 0 20px;
    color: $Dark-Grayish-Blue;
    button {
        background: none;
        border: none;
        color: $Dark-Grayish-Blue;
    }
    button:hover {
        color: $Light-Grayish-Blue;
    }
    button:focus {
        color: $Bright-Blue;
    }
}

footer {
    color: $Very-Dark-Grayish-Blue;
    margin: 50px;
}

.todo {
    display: none;
}

.show {
    display: flex !important;
}

.del {
    display: none;
}

.suppr {
    background-image: url(/images/icon-cross.svg);
    width: 50px;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    margin-left: auto;
    cursor: pointer;
    display: none;
}

.todo:hover {
    .suppr {
        display: block;
    }
}
